*
!/**/
!*.*
download/
__pycache__/
*.vscode/
*.log   
*.pdf
*build/
*.aux
*.bcf
*.bbl
*.blg
*.fls
*.toc
*.run.xml
*.fdb_latexmk
*.pyc
!scan*.pdf
!*Protokoll.pdf
!tex/content/**/*
!tex/logos/**/*
*.a
*.so
*.npy
.zip
src/build_old
